.dash-container {
  // width: 75%;
  margin: 0 auto;
  height: 100%;
  padding-top: 40px;
  display: flex;
  width: 80%;

}

.self-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dash-info-container {
  width: 60%;
}

.meeting-list-container {
  display: grid;
  width: 90%;
  // height: 250px;
  // padding: 10px;
  // box-shadow: 1px 1px 3px lightgrey;
  // display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

}



.tab-select {
  background-color: #f1f1f1;

  .tablinks {
    border: none;
    background-color: inherit;
    padding: 10px;

    &:hover {
      background-color: $workorng;
      color: white;
    }

    &:active {
      background-color: $workorng;
      color: white;
    }
  }
}

.tab-hide {
  // display: none;
}
