.dash-container {
  // width: 75%;
  margin: 0 auto;
  height: 89.5vh;
  padding-top: 20px;
  display: flex;

}


.self-container {
  width: 40%;
  // height:
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dash-info-container {
  width: 60%;
  // border: 1px solid black;
}

.meeting-list-container {
  width: 90%;
  padding: 10px;
  box-shadow: 1px 1px 3px lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
