.dash-container {
  // width: 75%;
  margin: 0 auto;
  height: 100%;
  padding-top: 40px;
  display: flex;
  width: 80%;

}

.self-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dash-info-container {
  width: 60%;
}

.meeting-list-container {
  width: 90%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  height: 80%;
}

.hosting-grid {

  grid-template-columns: 1fr 1fr 1fr;
}

.requested-grid {
  grid-template-columns: 1fr;
}

.sent-grid {
  grid-template-columns: 1fr 1fr;
  // grid-gap: 16px;

}

.tab-content {
  h5 {
    margin: 0;
    padding: 15px 0px;
  }
}

.tab-select {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-evenly;

  button {

    h5 {
      margin: 0;
    }
    &:focus {
      outline: none;
    }
  }

  .tablinks {
    border: none;
    background-color: #f1f1f1;
    padding: 10px;
    width: fill;
    // width: 30%;

    &:hover {
      background-color: $workorng;
      color: white;
    }
  }
  .tab-active {
    background-color: $workorng;
    color: white;
  }
}


