.home-main {
  height: 93.5vh;
  display: flex;
  // flex-direction: column;
}

.landing-container {
  // height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-cta {
  // border: 1px solid black;
  flex-shrink: 0;
  width: 40%;
}
