.home-main {
  height: 100%;
  display: flex;
  padding-top: 40px;
  // flex-direction: column;
}

.landing-container {
  // height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-cta {
  // border: 1px solid black;
  flex-shrink: 0;
  width: 40%;
  align-self: flex-start;

  h1 {
    border-left: 3px solid rgb(219, 110, 97);
    padding-left: 5px;
  }
}
