.meeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;

}

.meeting-info {
  border: 1px solid black;
  width: 50%;
  height: 300px;
}

.host-details {
  border: 1px solid black;
  width: 50%;

}

.meeting-actions {
  width: 50%;
  border: 1px solid black;
}
