.meeting-grid {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;

  li {
    list-style: none;
  }
}

.top-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-shadow: 1px 1px 2px lightgrey;
  padding: 20px;
  border-radius: 5px;
}

.bottom-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;

}

.meeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 4px lightgrey;
  padding: 10px;
  border-radius: 4px;
}

.meeting-info {
  // border: 1px solid black;
  width: 40%;
  height: 300px;
  padding: 10px;
}

.host-details {
  // border: 1px solid black;
  width: 40%;
  height: 300px;

}

.meeting-actions {
  width: 40%;
  // border: 1px solid black;
  box-shadow: 1px 1px 4px lightgrey;
  // height: 300px;
  padding: 10px;
  border-radius: 4px;
  align-self: flex-start;
}
