
#headline {
  width: 90%;
  margin: 0 auto;
}

.index-container {
  display: flex;
  // justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

.meeting-index-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 0 auto;
}


.meeting-grid-card {
  border: 1px solid black;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.index-map {
  width: 40%;
}
