.new-meeting-main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.new-meeting-form {
  width: 25%;
  box-shadow: 1px 1px 2px lightgrey;
  // padding: 10px;

  .new-form-input {
    padding:10px;
  }
}

.results-list {
  background: white;
  list-style: none;
  padding: 0;
  z-index: 2;
  // height: 50px;
  // display: hidden;

  li {
    z-index: 3;
    cursor: pointer;
    &:hover {
      background: lightgrey;
    }
  }
}

#list-item {

}

.list-target {
  background: lightgrey;
}

.form-tab {
  background: $workorng;
  padding: 10px;
}
