.new-meeting-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.new-meeting-form {
  width: 25%;
  height: 400px;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.results-list {
  background: white;
  border: 1px solid black;
  list-style: none;
  padding: 0;
  z-index: 2;
  height: 50px;


  li {
    z-index: 3;
  }
}
