  <nav>
    <img class="logo" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081" alt="">
    <ul>
      <h5><li><%= link_to "Home", root_path %></li></h5>
      <h5><li><a href="">About</a></li></h5>
      <h5><li><a href="">Search</a></li></h5>
    </ul>
  </nav>
