<button id="hosting-tab"  data-content="hosting" class="tablinks">Hosting <%= current_user.hosted_meetings.count if @current_user.hosted_meetings.length > 0  %></button>
<button id="received-tab"  data-content="received" class="tablinks">Requests <%= @received_requests.count if @received_requests.length > 0  %></button>
<button id="sent-tab" data-content="sent" class="tablinks">Sent <%= @pending_requests.count if @pending_requests.length > 0  %></button>
