<div class="home-main">
  <div class="home-container">
    <div class="home-cta">
      <h1>Worksp_ce</h1>
      <h4>Connect with remote workers near you</h4>
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
    <div class="map">
      <p>placeholder for Mapbox map</p>
    </div>
  </div>
</div>




