<div class="home-main">
  <div class="landing-container">
    <div class="home-cta">
      <h1>Worksp_ce</h1>
      <h4>Connect with remote workers near you</h4>
      <div class="cta-actions">
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Create a new meeting", new_meeting_path %>
      </div>
    </div>
    <div id="map"
         style="width: 40%;
         height: 560px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
    </div>
  </div>

</div>






