.avatar {
  width: 40px;
  border-radius: 50%;
  position:relative;
  border: 3px solid white;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.mini-avatar {
  width: 10px;
  border-radius: 50%;
}


.workspace-avatars {
    height: 150px;
    padding: 10px;
  h6 {
    padding: 10px;
  }
  ul {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      margin-right: -1.5em;
      list-style: none;
      // line-height:

      img {
        border-radius: 50%;
        border: 3px solid white;
        height: 60px;
      }
    }
  }
}
