.user-card {
  width: 250px;
  box-shadow: 1px 1px 3px lightgrey;

  .user-card-image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    align-self: center;
    margin: 10px;
  }

  .user-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    h6 {
      text-align: center;
    }
    p {
      margin: 0;
    }
  }

  .user-card-bio {
    padding: 20px;
  }

  .divider-line {
    // width: 100%;
    // background: lightgrey;
    // height: 1px;
  }

  .user-card-actions {
    padding: 10px;
    background: $workorng;

    a {
      color: white;
    }
  }
}


.workspace-card {
  width: 250px;
  box-shadow: 1px 1px 3px lightgrey;
  transition: .2s;
  background: white;

  &:hover {
    transition: .2s;
    transform: scale(1.1);
  }

  .workspace-image {
    object-fit: cover;
    height:150px;
    padding: 10px;

  }

  .workspace-card-info {
    background: $workorng;
    color: white;
    padding: 10px;

    a {
      color: white;
    }
    h6 {
      margin: 0;
    }
  }
}

.request-card {
  border-left: 3px solid $workorng;
  width: 250px;
  // border: 1px solid black;
  box-shadow: 1px 1px 3px lightgrey;

  .request-body {
    display: flex;
  }

  img {
    // padding: 10px;
    border-radius: 50%;
    border: 3px solid white;
    height: 60px;
    width: 60px;
    margin: 5px;
  }

  .request-info {
    padding: 10px;

    p {
      margin: 0px;
    }
  }

  .request-card-actions {
    padding: 10px;
    background: $workorng;

    a {
      color: white;

      &:hover {
        // text-decoration: none;
        transition: 0.1s;
        transform: scale(1.2)
      }
    }
  }
}

.pending-card {
  width: 250px;
  height: 150px;
  box-shadow: 1px 1px 3px lightgrey;
  background-image:   linear-gradient(to bottom, rgba(10,0,0,0.2), rgba(0,10,0,0.2)),
url('examplelocation.png');
  object-fit: cover;

}
