.user-card {
  width: 250px;
  box-shadow: 1px 1px 3px lightgrey;

  .user-card-image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    align-self: center;
    margin: 10px;
  }

  .user-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    h6 {
      text-align: center;
    }
    p {
      margin: 0;
    }
  }

  .user-card-bio {
    padding: 20px;
  }

  .divider-line {
    // width: 100%;
    // background: lightgrey;
    // height: 1px;
  }

  .user-card-actions {
    padding: 10px;
    background: rgb(219, 110, 97);

    a {
      color: white;
    }
  }
}

.box-shadow {

}

.workspace-card {
  width: 250px;
  box-shadow: 1px 1px 3px lightgrey;
  transition: .2s;
  background: white;

  &:hover {
    transition: .2s;
    transform: scale(1.1);
  }

  .workspace-image {
    object-fit: cover;
    height:150px;
    padding: 10px;

  }

  .workspace-avatars {
    height: 150px;
    padding: 10px;

  }

  .workspace-card-info {
    background: rgb(219, 110, 97);
    color: white;
    padding: 10px;

    a {
      color: white;
    }
    h6 {
      margin: 0;
    }
  }
}
