.user-card {
  height: 90%;

  border-radius: 5px;
  // box-shadow: 1px 1px 5px lightgrey;
  width: 250px;
  // display: flex;
  // flex-direction: column;
  padding: 10px;

  .user-card-image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    align-self: center;
  }

  .user-card-info {
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
      text-align: center;
    }
    p {
      margin: 0;
    }
  }

}
