nav {
  width: 100%;
  height: 50px;
  background-color: rgba(71, 64, 68,0.6);
  box-shadow: 0px 1px 1px rgba(196, 196, 196, 0.2);
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  display: flex;
  justify-content: space-between;

}

nav > ul {
  list-style: none;
  margin: 0 ;
  padding: 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul > li {
  display: inline;
  color: #444444;

}

nav a {
  color: #444444;
  padding: 10px;
  text-decoration: none;
}

.logo {
  margin-left: 10px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  background-size: contain;
  align-self: center;
}
